body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 60px;
  padding-bottom: 60px;
}

a {
  color: #00B7FF;
}
@font-face {
    font-family: Simpsons;
    src: url(Simpsonfont.ttf) format('truetype');
    font-weight: bold;
}

